# Extracción

Extracción de datos de la base de datos alojada en en proyecto en Bigquery

In [6]:
# !pip install google-cloud-bigquery
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

### Creación de cliente en Google Colab  
Las credenciales de cliente se cargan a través de una interfaz que pide permisos de la cuenta de Google, de forma rápida, cómoda y compatible con Google Colab

In [7]:
# # Crear cliente en Colab
# from google.colab import auth
# from google.cloud import bigquery

# auth.authenticate_user()
# client = bigquery.Client(project="the-look-ecommerce-project")

### Creación de cliente en local 
Se obtienen las credenciales de cliente a través de una clave dada por Bigquery y configurada como variable de entorno.

In [8]:
# Crear cliente en local
from google.cloud import bigquery
import db_dtypes

client = bigquery.Client()
print("Autenticación correcta. Proyecto:", client.project)

Autenticación correcta. Proyecto: the-look-ecommerce-project

### Consulta  
Petición a la base de datos en SQL para obtener las tablas en formato DataFrame

In [9]:
# Consulta

query = """
    SELECT *
    FROM `the-look-ecommerce-project.TheLook_ecommerce.INFORMATION_SCHEMA.TABLES`;
"""

# tablas = bigquery.QueryJobConfig()
# df = client.query(query, job_config=job_config, location="us").to_dataframe()

tablas = client.query(query).to_dataframe()
display(tablas)

,table_catalog,table_schema,table_name,table_type,is_insertable_into,is_typed,creation_time,base_table_catalog,base_table_schema,base_table_name,...,default_collation_name,upsert_stream_apply_watermark,replica_source_catalog,replica_source_schema,replica_source_name,replication_status,replication_error,is_change_history_enabled,sync_status,is_fine_grained_mutations_enabled
0,the-look-ecommerce-project,TheLook_ecommerce,users,BASE TABLE,YES,NO,2025-06-28 12:24:03.743000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
1,the-look-ecommerce-project,TheLook_ecommerce,order_items,BASE TABLE,YES,NO,2025-06-28 12:23:56.223000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
2,the-look-ecommerce-project,TheLook_ecommerce,distribution_centers,BASE TABLE,YES,NO,2025-07-20 01:11:43.576000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
3,the-look-ecommerce-project,TheLook_ecommerce,inventory_items,BASE TABLE,YES,NO,2025-06-28 12:23:52.462000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
4,the-look-ecommerce-project,TheLook_ecommerce,products,BASE TABLE,YES,NO,2025-06-28 12:24:00.676000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
5,the-look-ecommerce-project,TheLook_ecommerce,orders,BASE TABLE,YES,NO,2025-06-28 12:23:58.615000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO
6,the-look-ecommerce-project,TheLook_ecommerce,events,BASE TABLE,YES,NO,2025-07-20 17:05:30.019000+00:00,None,None,None,...,NULL,NaT,None,None,None,None,None,NO,None,NO

In [10]:
lista_tablas = tablas['table_name'].unique().tolist()
lista_tablas

['users',
 'order_items',
 'distribution_centers',
 'inventory_items',
 'products',
 'orders',
 'events']

### Preparación  
Se necesita obtener un dataframe para cada tabla de la base de datos

In [11]:
# Descargar cada tabla como diccionario de DataFrames
dataframes = {}

for tabla in lista_tablas:
    print(f"Descargando tabla: {tabla}...")
    query = f"""
        SELECT *
        FROM `the-look-ecommerce-project.TheLook_ecommerce.{tabla}`
    """
    df = client.query(query).to_dataframe()
    dataframes[tabla] = df

Descargando tabla: users...
Descargando tabla: order_items...
Descargando tabla: distribution_centers...
Descargando tabla: inventory_items...
Descargando tabla: products...
Descargando tabla: orders...
Descargando tabla: events...
{'users':           id first_name last_name                       email  age gender  \
0      85010      Jason  Phillips   jasonphillips@example.org   69      M
1       6633     Martin    Abbott    martinabbott@example.net   63      M
2      95190     Walter    Palmer    walterpalmer@example.com   68      M
3       6136    Suzanne   Jackson  suzannejackson@example.net   29      F
4       6241   Michelle    Fields  michellefields@example.com   37      F
...      ...        ...       ...                         ...  ...    ...
99995  35885      Colin   Sanchez    colinsanchez@example.net   67      M
99996  42805     Darius   Andrews   dariusandrews@example.org   24      M
99997  41311    Cynthia    Ortega   cynthiaortega@example.org   60      F
99998  55447    Michele      Berg     micheleberg@example.com   26      F
99999  53233     Sherri   Johnson   sherrijohnson@example.net   68      F

               state                 street_address postal_code  \
0               Acre     3703 Hobbs Glens Suite 824   69980-000
1               Acre   403 Brown Mountain Suite 853   69980-000
2               Acre      4444 Rhonda Flat Apt. 236   69980-000
3               Acre              974 Chelsea Vista   69980-000
4               Acre               412 Shane Meadow   69980-000
...              ...                            ...         ...
99995  Île-de-France   001 April Junctions Apt. 765       77260
99996  Île-de-France           27941 Courtney Trail       77260
99997  Île-de-France  16056 Archer Radial Suite 948       77160
99998  Île-de-France    33879 Cooper Locks Apt. 178       77160
99999  Île-de-France          77364 Bradley Estates       77320

                     city country   latitude  longitude traffic_source  \
0                    null  Brasil  -8.065346 -72.870949         Search
1                    null  Brasil  -8.065346 -72.870949         Search
2                    null  Brasil  -8.065346 -72.870949         Search
3                    null  Brasil  -8.065346 -72.870949          Email
4                    null  Brasil  -8.065346 -72.870949          Email
...                   ...     ...        ...        ...            ...
99995            Chamigny  France  48.969392   3.124882         Search
99996            Chamigny  France  48.969392   3.124882         Search
99997  Chenoise-Cucharmoy  France  48.589783   3.243343         Search
99998  Chenoise-Cucharmoy  France  48.589783   3.243343         Search
99999      Choisy-en-Brie  France  48.763993   3.319993         Search

                     created_at                         user_geom
0     2023-06-02 13:37:00+00:00  POINT(-72.87094866 -8.065346116)
1     2025-04-15 00:35:00+00:00  POINT(-72.87094866 -8.065346116)
2     2022-01-02 15:57:00+00:00  POINT(-72.87094866 -8.065346116)
3     2020-02-17 00:38:00+00:00  POINT(-72.87094866 -8.065346116)
4     2021-02-17 09:44:00+00:00  POINT(-72.87094866 -8.065346116)
...                         ...                               ...
99995 2019-03-22 11:15:00+00:00    POINT(3.124882208 48.96939203)
99996 2021-06-24 07:18:00+00:00    POINT(3.124882208 48.96939203)
99997 2021-09-02 07:26:00+00:00    POINT(3.243342846 48.58978291)
99998 2024-09-26 08:53:00+00:00    POINT(3.243342846 48.58978291)
99999 2020-03-05 14:56:00+00:00     POINT(3.31999321 48.76399331)

[100000 rows x 16 columns], 'order_items':             id  order_id  user_id  product_id  inventory_item_id      status  \
0        73647     50793    40665       14235             198847   Cancelled
1       162734    112041    89619       14235             439242   Cancelled
2       148596    102240    81818       14235             401132    Complete
3       129443     89041    71139       14235             349347  Processing
4        56844     39174    31393       14235             153548  Processing
...        ...       ...      ...         ...                ...         ...
181508   88338     60957    48839       23546             238473     Shipped
181509  117620     80844    64694       23546             317444     Shipped
181510   26430     18172    14604       23546              71432     Shipped
181511   10172      6970     5534       23546              27598     Shipped
181512  109848     75527    60445       23546             296348     Shipped

                      created_at                shipped_at  \
0      2025-03-27 12:16:41+00:00                       NaT
1      2025-03-28 00:32:16+00:00                       NaT
2      2025-02-07 12:19:40+00:00 2025-02-05 20:04:00+00:00
3      2025-04-02 05:34:44+00:00                       NaT
4      2025-02-08 15:09:24+00:00                       NaT
...                          ...                       ...
181508 2023-06-23 14:32:11+00:00 2023-06-25 02:05:00+00:00
181509 2023-09-14 04:09:46+00:00 2023-09-11 15:14:00+00:00
181510 2024-10-11 13:21:32+00:00 2024-10-12 10:10:00+00:00
181511 2019-08-19 04:32:18+00:00 2019-08-16 16:54:00+00:00
181512 2022-04-01 20:47:00+00:00 2022-04-03 09:34:00+00:00

                    delivered_at returned_at  sale_price
0                            NaT         NaT        0.02
1                            NaT         NaT        0.02
2      2025-02-07 18:18:00+00:00         NaT        0.02
3                            NaT         NaT        0.02
4                            NaT         NaT        0.02
...                          ...         ...         ...
181508                       NaT         NaT      999.00
181509                       NaT         NaT      999.00
181510                       NaT         NaT      999.00
181511                       NaT         NaT      999.00
181512                       NaT         NaT      999.00

[181513 rows x 11 columns], 'distribution_centers':    id                                 city_name state_name  latitude  \
0   3                                   Houston         TX   29.7604
1   1                                   Memphis         TN   35.1174
2   9                                Charleston         SC   32.7833
3   8                                    Mobile         AL   30.6944
4   5                               New Orleans         LA   29.9500
5   2                                   Chicago         IL   41.8369
6  10                                  Savannah         GA   32.0167
7   4                               Los Angeles         CA   34.0500
8   6  Port Authority of New York/New Jersey NY         NJ   40.6340
9   7                              Philadelphia         PA   39.9500

   longitude distribution_center_geom
0   -95.3698  POINT(-95.3698 29.7604)
1   -89.9711  POINT(-89.9711 35.1174)
2   -79.9333  POINT(-79.9333 32.7833)
3   -88.0431  POINT(-88.0431 30.6944)
4   -90.0667    POINT(-90.0667 29.95)
5   -87.6847  POINT(-87.6847 41.8369)
6   -81.1167  POINT(-81.1167 32.0167)
7  -118.2500     POINT(-118.25 34.05)
8   -73.7834   POINT(-73.7834 40.634)
9   -75.1667    POINT(-75.1667 39.95)  , 'inventory_items':             id  product_id                created_at  \
0       210618        4213 2023-02-05 18:12:00+00:00
1       210616        4213 2022-08-30 14:29:00+00:00
2       210617        4213 2024-12-23 10:41:00+00:00
3       171864        4213 2023-06-06 17:22:00+00:00
4       401545        4213 2020-08-10 06:45:00+00:00
...        ...         ...                       ...
490008     691       25590 2022-06-27 00:49:00+00:00
490009   77729       25590 2024-01-13 06:29:00+00:00
490010  451391       25590 2024-02-23 19:05:47+00:00
490011  486019       25590 2021-07-01 16:55:00+00:00
490012   77728       25590 2023-12-06 05:24:00+00:00

                         sold_at      cost     product_category  \
0                            NaT  16.24435  Jumpsuits & Rompers
1                            NaT  16.24435  Jumpsuits & Rompers
2                            NaT  16.24435  Jumpsuits & Rompers
3                            NaT  16.24435  Jumpsuits & Rompers
4                            NaT  16.24435  Jumpsuits & Rompers
...                          ...       ...                  ...
490008                       NaT  10.39200            Underwear
490009                       NaT  10.39200            Underwear
490010 2024-04-03 13:45:47+00:00  10.39200            Underwear
490011                       NaT  10.39200            Underwear
490012                       NaT  10.39200            Underwear

                                             product_name product_brand  \
0       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
1       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
2       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
3       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
4       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
...                                                   ...           ...
490008                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
490009                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
490010                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
490011                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
490012                  ck one Men's Micro Slim Fit Boxer  Calvin Klein

        product_retail_price product_department  \
0                  32.950001              Women
1                  32.950001              Women
2                  32.950001              Women
3                  32.950001              Women
4                  32.950001              Women
...                      ...                ...
490008             24.000000                Men
490009             24.000000                Men
490010             24.000000                Men
490011             24.000000                Men
490012             24.000000                Men

                             product_sku  product_distribution_center_id
0       872DD316EB8A432CBC63F141E2D68DED                               2
1       872DD316EB8A432CBC63F141E2D68DED                               2
2       872DD316EB8A432CBC63F141E2D68DED                               2
3       872DD316EB8A432CBC63F141E2D68DED                               2
4       872DD316EB8A432CBC63F141E2D68DED                               2
...                                  ...                             ...
490008  F220707C3AFE39D1779E0A34AF72BB7F                               3
490009  F220707C3AFE39D1779E0A34AF72BB7F                               3
490010  F220707C3AFE39D1779E0A34AF72BB7F                               3
490011  F220707C3AFE39D1779E0A34AF72BB7F                               3
490012  F220707C3AFE39D1779E0A34AF72BB7F                               3

[490013 rows x 12 columns], 'products':           id      cost     category  \
0      13844   2.76804  Accessories
1      14086   2.24625  Accessories
2      13726   3.58200  Accessories
3      14106   4.11026  Accessories
4      28405   6.57410  Accessories
...      ...       ...          ...
29115  25795  12.19400    Underwear
29116  25467   8.48000    Underwear
29117  25803  13.49400    Underwear
29118  25410  12.16800    Underwear
29119  25590  10.39200    Underwear

                                                   name               brand  \
0                                (ONE) 1 Satin Headband  Funny Girl Designs
1       (One) CHEER Rhinestone Studded Stretch Headband  Funny Girl Designs
2      (Set of 3) Leopard Animal Print Stretch Headband  Funny Girl Designs
3       (Set of 4) 2.5 Glitter Cotton Stretch Headbands  Funny Girl Designs
4                   1 1/2 In. Original Perry Suspenders               Perry
...                                                 ...                 ...
29115                    ck one Men's Micro Boxer Brief        Calvin Klein
29116                      ck one Men's Micro Hip Brief        Calvin Klein
29117                 ck one Men's Micro Low Rise Trunk        Calvin Klein
29118                 ck one Men's Micro Low Rise Trunk        Calvin Klein
29119                 ck one Men's Micro Slim Fit Boxer        Calvin Klein

       retail_price department                               sku  \
0              6.99      Women  2A3E953A5E3D81E67945BCE5519F84C8
1              5.99      Women  8EFA9015A4EF4632A954E820ECA834AD
2              9.00      Women  82D1C46A6014199790E16EAD8A170B98
3             10.99      Women  8B2AF218C67338FE19C095227BD73969
4             16.90        Men  252F6D4524F82B63C027DEF22CED5230
...             ...        ...                               ...
29115         26.00        Men  D94C59B53EA6A9EEC0A47AE789867098
29116         20.00        Men  4A50C47D4386EE44D38066AE1B474DD7
29117         26.00        Men  1FB292AE59EE45F603E48AED2B9B7491
29118         24.00        Men  F48DB3CD91EBB288FF33E95493B6329B
29119         24.00        Men  F220707C3AFE39D1779E0A34AF72BB7F

       distribution_center_id
0                           7
1                           7
2                           7
3                           7
4                           1
...                       ...
29115                       3
29116                       3
29117                       3
29118                       3
29119                       3

[29120 rows x 9 columns], 'orders':         order_id  user_id     status gender                created_at  \
0            251      194  Cancelled      F 2024-10-03 04:18:00+00:00
1           1528     1212  Cancelled      F 2024-05-25 01:14:00+00:00
2           1571     1244  Cancelled      F 2022-12-22 13:41:00+00:00
3           2123     1666  Cancelled      F 2023-10-16 07:17:00+00:00
4           2438     1929  Cancelled      F 2025-01-16 12:12:00+00:00
...          ...      ...        ...    ...                       ...
124857    124093    99379    Shipped      M 2023-11-11 18:37:00+00:00
124858    124138    99410    Shipped      M 2021-02-23 17:25:00+00:00
124859    124434    99651    Shipped      M 2023-03-17 09:57:00+00:00
124860    124537    99736    Shipped      M 2024-11-14 14:44:00+00:00
124861    124746    99903    Shipped      M 2023-12-05 08:15:00+00:00

       returned_at                shipped_at delivered_at  num_of_item
0              NaT                       NaT          NaT            2
1              NaT                       NaT          NaT            1
2              NaT                       NaT          NaT            3
3              NaT                       NaT          NaT            1
4              NaT                       NaT          NaT            1
...            ...                       ...          ...          ...
124857         NaT 2023-11-12 05:21:00+00:00          NaT            1
124858         NaT 2021-02-25 15:01:00+00:00          NaT            1
124859         NaT 2023-03-19 13:11:00+00:00          NaT            1
124860         NaT 2024-11-16 08:21:00+00:00          NaT            2
124861         NaT 2023-12-08 04:34:00+00:00          NaT            2

[124862 rows x 9 columns], 'events':               id  user_id  sequence_number  \
0        1443962     <NA>                3
1        1945808     <NA>                3
2        2157702     <NA>                3
3        1967969     <NA>                3
4        2290565     <NA>                3
...          ...      ...              ...
2423345   677604    52572                7
2423346   284510    22192               10
2423347  1137273    87591                7
2423348   962368    74273                7
2423349  1000575    77254               13

                                   session_id  \
0        61cb4909-a494-4f7a-8771-3a381d09d0ad
1        7b4da655-7d7d-4d1b-a62d-546ee906a2ea
2        53704562-7e11-4c8f-94ca-dae225558f91
3        8aa49ee4-3eae-4a14-aea4-7029009ab24c
4        cf023e61-2c86-46a7-9c7d-770439218505
...                                       ...
2423345  3a5cf766-c717-41f5-a72e-06533c4dbe5e
2423346  1be61e25-95b4-4fd7-98f5-756393fd5347
2423347  1a6e4860-14f7-425d-b60b-5ad28c859ffa
2423348  d50d7634-fffe-482b-a9c9-315c2a73d381
2423349  e7a48c3a-ef44-4394-8fcb-d1810302f611

                              created_at  event_year  event_month  event_day  \
0              2019-01-06 01:40:00+00:00        2019            1          6
1              2019-01-08 08:10:00+00:00        2019            1          8
2              2019-01-13 08:31:00+00:00        2019            1         13
3              2019-01-14 04:45:00+00:00        2019            1         14
4              2019-01-15 06:18:00+00:00        2019            1         15
...                                  ...         ...          ...        ...
2423345 2025-07-22 16:24:18.667423+00:00        2025            7         22
2423346 2025-07-23 06:34:34.153384+00:00        2025            7         23
2423347 2025-07-23 06:55:49.275593+00:00        2025            7         23
2423348 2025-07-23 23:18:21.891134+00:00        2025            7         23
2423349 2025-07-24 18:36:53.696244+00:00        2025            7         24

              ip_address           city         state postal_code  browser  \
0        104.209.175.196        NanNing       Beijing      100043   Chrome
1        190.115.111.148  Hwaseong City   Gyeonggi-do     445-812   Safari
2           46.179.86.28        Wenzhou  Heilongjiang      150501   Chrome
3           54.233.169.7         Austin         Texas       78723   Safari
4         22.128.185.242      Doraville       Georgia       30340   Chrome
...                  ...            ...           ...         ...      ...
2423345   128.33.240.138       Shenyang         Henan      453007  Firefox
2423346   190.120.21.145          Hemet    California       92545   Chrome
2423347    13.186.61.185        Kunming       Sichuan      611730   Chrome
2423348     22.103.9.184    Dunfermline      Scotland        KY11  Firefox
2423349  188.127.235.216        Beijing      Shanghai      200436   Chrome

        traffic_source        uri event_type
0              Adwords    /cancel     cancel
1                Email    /cancel     cancel
2             Facebook    /cancel     cancel
3              Organic    /cancel     cancel
4              Adwords    /cancel     cancel
...                ...        ...        ...
2423345        Organic  /purchase   purchase
2423346        Adwords  /purchase   purchase
2423347          Email  /purchase   purchase
2423348        Organic  /purchase   purchase
2423349          Email  /purchase   purchase

[2423350 rows x 16 columns]}

In [12]:
print(list(dataframes.keys()))
display(dataframes)

['users', 'order_items', 'distribution_centers', 'inventory_items', 'products', 'orders', 'events']

{'users':           id first_name last_name                       email  age gender  \
 0      85010      Jason  Phillips   jasonphillips@example.org   69      M
 1       6633     Martin    Abbott    martinabbott@example.net   63      M
 2      95190     Walter    Palmer    walterpalmer@example.com   68      M
 3       6136    Suzanne   Jackson  suzannejackson@example.net   29      F
 4       6241   Michelle    Fields  michellefields@example.com   37      F
 ...      ...        ...       ...                         ...  ...    ...
 99995  35885      Colin   Sanchez    colinsanchez@example.net   67      M
 99996  42805     Darius   Andrews   dariusandrews@example.org   24      M
 99997  41311    Cynthia    Ortega   cynthiaortega@example.org   60      F
 99998  55447    Michele      Berg     micheleberg@example.com   26      F
 99999  53233     Sherri   Johnson   sherrijohnson@example.net   68      F

                state                 street_address postal_code  \
 0               Acre     3703 Hobbs Glens Suite 824   69980-000
 1               Acre   403 Brown Mountain Suite 853   69980-000
 2               Acre      4444 Rhonda Flat Apt. 236   69980-000
 3               Acre              974 Chelsea Vista   69980-000
 4               Acre               412 Shane Meadow   69980-000
 ...              ...                            ...         ...
 99995  Île-de-France   001 April Junctions Apt. 765       77260
 99996  Île-de-France           27941 Courtney Trail       77260
 99997  Île-de-France  16056 Archer Radial Suite 948       77160
 99998  Île-de-France    33879 Cooper Locks Apt. 178       77160
 99999  Île-de-France          77364 Bradley Estates       77320

                      city country   latitude  longitude traffic_source  \
 0                    null  Brasil  -8.065346 -72.870949         Search
 1                    null  Brasil  -8.065346 -72.870949         Search
 2                    null  Brasil  -8.065346 -72.870949         Search
 3                    null  Brasil  -8.065346 -72.870949          Email
 4                    null  Brasil  -8.065346 -72.870949          Email
 ...                   ...     ...        ...        ...            ...
 99995            Chamigny  France  48.969392   3.124882         Search
 99996            Chamigny  France  48.969392   3.124882         Search
 99997  Chenoise-Cucharmoy  France  48.589783   3.243343         Search
 99998  Chenoise-Cucharmoy  France  48.589783   3.243343         Search
 99999      Choisy-en-Brie  France  48.763993   3.319993         Search

                      created_at                         user_geom
 0     2023-06-02 13:37:00+00:00  POINT(-72.87094866 -8.065346116)
 1     2025-04-15 00:35:00+00:00  POINT(-72.87094866 -8.065346116)
 2     2022-01-02 15:57:00+00:00  POINT(-72.87094866 -8.065346116)
 3     2020-02-17 00:38:00+00:00  POINT(-72.87094866 -8.065346116)
 4     2021-02-17 09:44:00+00:00  POINT(-72.87094866 -8.065346116)
 ...                         ...                               ...
 99995 2019-03-22 11:15:00+00:00    POINT(3.124882208 48.96939203)
 99996 2021-06-24 07:18:00+00:00    POINT(3.124882208 48.96939203)
 99997 2021-09-02 07:26:00+00:00    POINT(3.243342846 48.58978291)
 99998 2024-09-26 08:53:00+00:00    POINT(3.243342846 48.58978291)
 99999 2020-03-05 14:56:00+00:00     POINT(3.31999321 48.76399331)

 [100000 rows x 16 columns],
 'order_items':             id  order_id  user_id  product_id  inventory_item_id      status  \
 0        73647     50793    40665       14235             198847   Cancelled
 1       162734    112041    89619       14235             439242   Cancelled
 2       148596    102240    81818       14235             401132    Complete
 3       129443     89041    71139       14235             349347  Processing
 4        56844     39174    31393       14235             153548  Processing
 ...        ...       ...      ...         ...                ...         ...
 181508   88338     60957    48839       23546             238473     Shipped
 181509  117620     80844    64694       23546             317444     Shipped
 181510   26430     18172    14604       23546              71432     Shipped
 181511   10172      6970     5534       23546              27598     Shipped
 181512  109848     75527    60445       23546             296348     Shipped

                       created_at                shipped_at  \
 0      2025-03-27 12:16:41+00:00                       NaT
 1      2025-03-28 00:32:16+00:00                       NaT
 2      2025-02-07 12:19:40+00:00 2025-02-05 20:04:00+00:00
 3      2025-04-02 05:34:44+00:00                       NaT
 4      2025-02-08 15:09:24+00:00                       NaT
 ...                          ...                       ...
 181508 2023-06-23 14:32:11+00:00 2023-06-25 02:05:00+00:00
 181509 2023-09-14 04:09:46+00:00 2023-09-11 15:14:00+00:00
 181510 2024-10-11 13:21:32+00:00 2024-10-12 10:10:00+00:00
 181511 2019-08-19 04:32:18+00:00 2019-08-16 16:54:00+00:00
 181512 2022-04-01 20:47:00+00:00 2022-04-03 09:34:00+00:00

                     delivered_at returned_at  sale_price
 0                            NaT         NaT        0.02
 1                            NaT         NaT        0.02
 2      2025-02-07 18:18:00+00:00         NaT        0.02
 3                            NaT         NaT        0.02
 4                            NaT         NaT        0.02
 ...                          ...         ...         ...
 181508                       NaT         NaT      999.00
 181509                       NaT         NaT      999.00
 181510                       NaT         NaT      999.00
 181511                       NaT         NaT      999.00
 181512                       NaT         NaT      999.00

 [181513 rows x 11 columns],
 'distribution_centers':    id                                 city_name state_name  latitude  \
 0   3                                   Houston         TX   29.7604
 1   1                                   Memphis         TN   35.1174
 2   9                                Charleston         SC   32.7833
 3   8                                    Mobile         AL   30.6944
 4   5                               New Orleans         LA   29.9500
 5   2                                   Chicago         IL   41.8369
 6  10                                  Savannah         GA   32.0167
 7   4                               Los Angeles         CA   34.0500
 8   6  Port Authority of New York/New Jersey NY         NJ   40.6340
 9   7                              Philadelphia         PA   39.9500

    longitude distribution_center_geom
 0   -95.3698  POINT(-95.3698 29.7604)
 1   -89.9711  POINT(-89.9711 35.1174)
 2   -79.9333  POINT(-79.9333 32.7833)
 3   -88.0431  POINT(-88.0431 30.6944)
 4   -90.0667    POINT(-90.0667 29.95)
 5   -87.6847  POINT(-87.6847 41.8369)
 6   -81.1167  POINT(-81.1167 32.0167)
 7  -118.2500     POINT(-118.25 34.05)
 8   -73.7834   POINT(-73.7834 40.634)
 9   -75.1667    POINT(-75.1667 39.95)  ,
 'inventory_items':             id  product_id                created_at  \
 0       210618        4213 2023-02-05 18:12:00+00:00
 1       210616        4213 2022-08-30 14:29:00+00:00
 2       210617        4213 2024-12-23 10:41:00+00:00
 3       171864        4213 2023-06-06 17:22:00+00:00
 4       401545        4213 2020-08-10 06:45:00+00:00
 ...        ...         ...                       ...
 490008     691       25590 2022-06-27 00:49:00+00:00
 490009   77729       25590 2024-01-13 06:29:00+00:00
 490010  451391       25590 2024-02-23 19:05:47+00:00
 490011  486019       25590 2021-07-01 16:55:00+00:00
 490012   77728       25590 2023-12-06 05:24:00+00:00

                          sold_at      cost     product_category  \
 0                            NaT  16.24435  Jumpsuits & Rompers
 1                            NaT  16.24435  Jumpsuits & Rompers
 2                            NaT  16.24435  Jumpsuits & Rompers
 3                            NaT  16.24435  Jumpsuits & Rompers
 4                            NaT  16.24435  Jumpsuits & Rompers
 ...                          ...       ...                  ...
 490008                       NaT  10.39200            Underwear
 490009                       NaT  10.39200            Underwear
 490010 2024-04-03 13:45:47+00:00  10.39200            Underwear
 490011                       NaT  10.39200            Underwear
 490012                       NaT  10.39200            Underwear

                                              product_name product_brand  \
 0       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
 1       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
 2       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
 3       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
 4       A Elan Usa Beautiful Strapless Jumpsuit w/ 3/4...      Elan USA
 ...                                                   ...           ...
 490008                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
 490009                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
 490010                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
 490011                  ck one Men's Micro Slim Fit Boxer  Calvin Klein
 490012                  ck one Men's Micro Slim Fit Boxer  Calvin Klein

         product_retail_price product_department  \
 0                  32.950001              Women
 1                  32.950001              Women
 2                  32.950001              Women
 3                  32.950001              Women
 4                  32.950001              Women
 ...                      ...                ...
 490008             24.000000                Men
 490009             24.000000                Men
 490010             24.000000                Men
 490011             24.000000                Men
 490012             24.000000                Men

                              product_sku  product_distribution_center_id
 0       872DD316EB8A432CBC63F141E2D68DED                               2
 1       872DD316EB8A432CBC63F141E2D68DED                               2
 2       872DD316EB8A432CBC63F141E2D68DED                               2
 3       872DD316EB8A432CBC63F141E2D68DED                               2
 4       872DD316EB8A432CBC63F141E2D68DED                               2
 ...                                  ...                             ...
 490008  F220707C3AFE39D1779E0A34AF72BB7F                               3
 490009  F220707C3AFE39D1779E0A34AF72BB7F                               3
 490010  F220707C3AFE39D1779E0A34AF72BB7F                               3
 490011  F220707C3AFE39D1779E0A34AF72BB7F                               3
 490012  F220707C3AFE39D1779E0A34AF72BB7F                               3

 [490013 rows x 12 columns],
 'products':           id      cost     category  \
 0      13844   2.76804  Accessories
 1      14086   2.24625  Accessories
 2      13726   3.58200  Accessories
 3      14106   4.11026  Accessories
 4      28405   6.57410  Accessories
 ...      ...       ...          ...
 29115  25795  12.19400    Underwear
 29116  25467   8.48000    Underwear
 29117  25803  13.49400    Underwear
 29118  25410  12.16800    Underwear
 29119  25590  10.39200    Underwear

                                                    name               brand  \
 0                                (ONE) 1 Satin Headband  Funny Girl Designs
 1       (One) CHEER Rhinestone Studded Stretch Headband  Funny Girl Designs
 2      (Set of 3) Leopard Animal Print Stretch Headband  Funny Girl Designs
 3       (Set of 4) 2.5 Glitter Cotton Stretch Headbands  Funny Girl Designs
 4                   1 1/2 In. Original Perry Suspenders               Perry
 ...                                                 ...                 ...
 29115                    ck one Men's Micro Boxer Brief        Calvin Klein
 29116                      ck one Men's Micro Hip Brief        Calvin Klein
 29117                 ck one Men's Micro Low Rise Trunk        Calvin Klein
 29118                 ck one Men's Micro Low Rise Trunk        Calvin Klein
 29119                 ck one Men's Micro Slim Fit Boxer        Calvin Klein

        retail_price department                               sku  \
 0              6.99      Women  2A3E953A5E3D81E67945BCE5519F84C8
 1              5.99      Women  8EFA9015A4EF4632A954E820ECA834AD
 2              9.00      Women  82D1C46A6014199790E16EAD8A170B98
 3             10.99      Women  8B2AF218C67338FE19C095227BD73969
 4             16.90        Men  252F6D4524F82B63C027DEF22CED5230
 ...             ...        ...                               ...
 29115         26.00        Men  D94C59B53EA6A9EEC0A47AE789867098
 29116         20.00        Men  4A50C47D4386EE44D38066AE1B474DD7
 29117         26.00        Men  1FB292AE59EE45F603E48AED2B9B7491
 29118         24.00        Men  F48DB3CD91EBB288FF33E95493B6329B
 29119         24.00        Men  F220707C3AFE39D1779E0A34AF72BB7F

        distribution_center_id
 0                           7
 1                           7
 2                           7
 3                           7
 4                           1
 ...                       ...
 29115                       3
 29116                       3
 29117                       3
 29118                       3
 29119                       3

 [29120 rows x 9 columns],
 'orders':         order_id  user_id     status gender                created_at  \
 0            251      194  Cancelled      F 2024-10-03 04:18:00+00:00
 1           1528     1212  Cancelled      F 2024-05-25 01:14:00+00:00
 2           1571     1244  Cancelled      F 2022-12-22 13:41:00+00:00
 3           2123     1666  Cancelled      F 2023-10-16 07:17:00+00:00
 4           2438     1929  Cancelled      F 2025-01-16 12:12:00+00:00
 ...          ...      ...        ...    ...                       ...
 124857    124093    99379    Shipped      M 2023-11-11 18:37:00+00:00
 124858    124138    99410    Shipped      M 2021-02-23 17:25:00+00:00
 124859    124434    99651    Shipped      M 2023-03-17 09:57:00+00:00
 124860    124537    99736    Shipped      M 2024-11-14 14:44:00+00:00
 124861    124746    99903    Shipped      M 2023-12-05 08:15:00+00:00

        returned_at                shipped_at delivered_at  num_of_item
 0              NaT                       NaT          NaT            2
 1              NaT                       NaT          NaT            1
 2              NaT                       NaT          NaT            3
 3              NaT                       NaT          NaT            1
 4              NaT                       NaT          NaT            1
 ...            ...                       ...          ...          ...
 124857         NaT 2023-11-12 05:21:00+00:00          NaT            1
 124858         NaT 2021-02-25 15:01:00+00:00          NaT            1
 124859         NaT 2023-03-19 13:11:00+00:00          NaT            1
 124860         NaT 2024-11-16 08:21:00+00:00          NaT            2
 124861         NaT 2023-12-08 04:34:00+00:00          NaT            2

 [124862 rows x 9 columns],
 'events':               id  user_id  sequence_number  \
 0        1443962     <NA>                3
 1        1945808     <NA>                3
 2        2157702     <NA>                3
 3        1967969     <NA>                3
 4        2290565     <NA>                3
 ...          ...      ...              ...
 2423345   677604    52572                7
 2423346   284510    22192               10
 2423347  1137273    87591                7
 2423348   962368    74273                7
 2423349  1000575    77254               13

                                    session_id  \
 0        61cb4909-a494-4f7a-8771-3a381d09d0ad
 1        7b4da655-7d7d-4d1b-a62d-546ee906a2ea
 2        53704562-7e11-4c8f-94ca-dae225558f91
 3        8aa49ee4-3eae-4a14-aea4-7029009ab24c
 4        cf023e61-2c86-46a7-9c7d-770439218505
 ...                                       ...
 2423345  3a5cf766-c717-41f5-a72e-06533c4dbe5e
 2423346  1be61e25-95b4-4fd7-98f5-756393fd5347
 2423347  1a6e4860-14f7-425d-b60b-5ad28c859ffa
 2423348  d50d7634-fffe-482b-a9c9-315c2a73d381
 2423349  e7a48c3a-ef44-4394-8fcb-d1810302f611

                               created_at  event_year  event_month  event_day  \
 0              2019-01-06 01:40:00+00:00        2019            1          6
 1              2019-01-08 08:10:00+00:00        2019            1          8
 2              2019-01-13 08:31:00+00:00        2019            1         13
 3              2019-01-14 04:45:00+00:00        2019            1         14
 4              2019-01-15 06:18:00+00:00        2019            1         15
 ...                                  ...         ...          ...        ...
 2423345 2025-07-22 16:24:18.667423+00:00        2025            7         22
 2423346 2025-07-23 06:34:34.153384+00:00        2025            7         23
 2423347 2025-07-23 06:55:49.275593+00:00        2025            7         23
 2423348 2025-07-23 23:18:21.891134+00:00        2025            7         23
 2423349 2025-07-24 18:36:53.696244+00:00        2025            7         24

               ip_address           city         state postal_code  browser  \
 0        104.209.175.196        NanNing       Beijing      100043   Chrome
 1        190.115.111.148  Hwaseong City   Gyeonggi-do     445-812   Safari
 2           46.179.86.28        Wenzhou  Heilongjiang      150501   Chrome
 3           54.233.169.7         Austin         Texas       78723   Safari
 4         22.128.185.242      Doraville       Georgia       30340   Chrome
 ...                  ...            ...           ...         ...      ...
 2423345   128.33.240.138       Shenyang         Henan      453007  Firefox
 2423346   190.120.21.145          Hemet    California       92545   Chrome
 2423347    13.186.61.185        Kunming       Sichuan      611730   Chrome
 2423348     22.103.9.184    Dunfermline      Scotland        KY11  Firefox
 2423349  188.127.235.216        Beijing      Shanghai      200436   Chrome

         traffic_source        uri event_type
 0              Adwords    /cancel     cancel
 1                Email    /cancel     cancel
 2             Facebook    /cancel     cancel
 3              Organic    /cancel     cancel
 4              Adwords    /cancel     cancel
 ...                ...        ...        ...
 2423345        Organic  /purchase   purchase
 2423346        Adwords  /purchase   purchase
 2423347          Email  /purchase   purchase
 2423348        Organic  /purchase   purchase
 2423349          Email  /purchase   purchase

 [2423350 rows x 16 columns]}

### Carga de datos  
Se almacenan las tablas en formato csv dentro del directorio del proyecto

In [15]:
# Se obtienen los diferentes dataframes por separado y se guardan en csv

users = dataframes.get('users')
users.to_csv("../data/users.csv", index=False)

order_items = dataframes.get('order_items')
order_items.to_csv("../data/order_items.csv", index=False)

distribution_centers = dataframes.get('distribution_centers')
distribution_centers.to_csv("../data/distribution_centers.csv", index=False)

inventory_items = dataframes.get('inventory_items')
inventory_items.to_csv("../data/inventory_items.csv", index=False)

products = dataframes.get('products')
products.to_csv("../data/products.csv", index=False)

orders = dataframes.get('orders')
orders.to_csv("../data/orders.csv", index=False)

events = dataframes.get('events')
events.to_csv("../data/events.csv", index=False)